<ion-header>
  <ion-toolbar>
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm" (submit)="change(passwordForm.value)">
    
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Code</ion-label>
        <ion-input formControlName="code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirmation Mot de passe</ion-label>
        <ion-input formControlName="passwordConfirmation" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="full"> Changer </ion-button>
  </form>
</ion-content>
